[Unit]
Description=goimcacalc

[Service]
Type=simple
Restart=always
RestartSec=5sec
ExecStart=/bin/bash /go/src/github.com/roger8b/imc_calc/main

[Install]
WantedBy=multi-user.target