[Unit]
Description=goimcacalc

[Service]
Type=simple
Restart=always
RestartSec=5sec
ExecStart=/go/src/github.com/roger8b/imc_calc

[Install]
WantedBy=multi-user.target