[Unit]
Description=goimcacalc

[Service]
Type=simple
Restart=always
RestartSec=5sec
ExecStart=/home/rm/go/imc_calc/main

[Install]
WantedBy=multi-user.target